<p>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
</p>
<p style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;"><span style="font-size: 16px;"><span style="font-family: &quot;Trebuchet MS&quot;, Helvetica, sans-serif;">Namaskaram $lead_name,
      <br>
    </span></span></p>
<p style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;"><span style="font-size: 16px;"><span style="font-family: &quot;Trebuchet MS&quot;, Helvetica, sans-serif;">Thank you for your interest in the “Human Is NOT a Resource” conclave.</span></span></p>
<p style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;"><span style="font-size: 16px;"><span style="font-family: &quot;Trebuchet MS&quot;, Helvetica, sans-serif;">Envisioned by Sadhguru around the key insight, “Human is NOT a Resource”, this path-breaking conclave will be held from 12 - 14 June, 2020 at the&nbsp;Isha Yoga Center, Coimbatore. Building on this insight, the conclave brings together thought leaders, business and HR heads to discuss practical steps to enable a paradigm shift from human beings as resources to possibilities. This shift is necessary for businesses to attract, retain and empower talent in an increasingly competitive and borderless world.</span></span></p>
<p style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;"><span style="font-size: 16px;"><span style="font-family: &quot;Trebuchet MS&quot;, Helvetica, sans-serif;">
      <br>
      <a href="https://www.youtube.com/watch?v=wTSU8wqJ1gg">Watch Sadhguru speak</a> on this powerful conclave along with glimpses of some of the speakers from previous years.
    </span></span></p>
<h3 style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;"><span style="font-size: 16px;"><span style="font-family: &quot;Trebuchet MS&quot;, Helvetica, sans-serif;">
      <br>Who should attend
    </span></span></h3>
<p style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;"><span style="font-size: 16px;"><span style="font-family: &quot;Trebuchet MS&quot;, Helvetica, sans-serif;">The program is best suited for&nbsp;business and HR heads&nbsp;of a company. It offers a unique proposition of bringing CEOs &amp; CHROs on the same platform to re-think and re-imagine HR.
      <br>
    </span></span></p>
<h3 style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;"><span style="font-size: 16px;"><span style="font-family: &quot;Trebuchet MS&quot;, Helvetica, sans-serif;">Why you must attend</span></span></h3>
<ul style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;">
  <li><span style="font-size: 16px;"><span style="font-family: &quot;Trebuchet MS&quot;, Helvetica, sans-serif;">Crafted by Sadhguru and delivered by Industry experts, this novel initiative is designed based on a study of about 1500 CEOs and CXO.</span></span></li>
  <li><span style="font-size: 16px;"><span style="font-family: &quot;Trebuchet MS&quot;, Helvetica, sans-serif;">Agenda designed to delve deeper into nuances of creating agile, high performing and joyful organizations</span></span></li>
  <li><span style="font-size: 16px;"><span style="font-family: &quot;Trebuchet MS&quot;, Helvetica, sans-serif;">An opportunity to connect with industry thought leaders, and develop a support groupThe participant group is comprised of CEOs, CXOs &amp; CHROs to uniquely combine business &amp; HR perspectives.</span></span></li>
  <li><span style="font-size: 16px;"><span style="font-family: &quot;Trebuchet MS&quot;, Helvetica, sans-serif;">Access to technologies for inner wellbeing to create inspired, focused and agile human beings</span></span></li>
  <li><span style="font-size: 16px;"><span style="font-family: &quot;Trebuchet MS&quot;, Helvetica, sans-serif;">Creation of a transformation plan unique to you and your own organization with the assistance of the best minds in the industry as mentors
        <br>&nbsp;
      </span></span></li>
</ul>
<h3 style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;"><span style="font-size: 16px;"><span style="font-family: &quot;Trebuchet MS&quot;, Helvetica, sans-serif;">Testimonials</span></span></h3>
<p style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;"><span style="font-size: 16px;"><span style="font-family: &quot;Trebuchet MS&quot;, Helvetica, sans-serif;">&nbsp;“Journey of a cynic to a believer. I’m going back with volumes of material in my mind. I think this has been one of the most significant programs that I have attended in a long time.”</span></span></p>
<p style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;"><span style="font-size: 16px;"><span style="font-family: &quot;Trebuchet MS&quot;, Helvetica, sans-serif;">- Narendra Kumar, Sr. AVP – HR, Cholamandalam Investment &amp; Finance Company Ltd.</span></span></p>
<p style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;"><span style="font-size: 16px;"><span style="font-family: &quot;Trebuchet MS&quot;, Helvetica, sans-serif;">
      <br>"I have attended, organized and managed hundreds and hundreds of programs. I have been a part of programs at some of the finest business schools in the world, but I have never come across this kind of program."
      <br>- Gajendra Chandel, Former President and CHRO, Tata Motors 
    </span></span></p>
<p style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;"><span style="font-size: 16px;"><span style="font-family: &quot;Trebuchet MS&quot;, Helvetica, sans-serif;">&nbsp;
      <br>&nbsp;“I don’t think any other program can give you this kind of perspective. Not even any business school in the country or even abroad.”
    </span></span></p>
<p style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;"><span style="font-size: 16px;"><span style="font-family: &quot;Trebuchet MS&quot;, Helvetica, sans-serif;">- N Shankar, GM, Power Grid Corporation of India Ltd.</span></span></p>
<p style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;"><span style="font-size: 16px;"><span style="font-family: &quot;Trebuchet MS&quot;, Helvetica, sans-serif;">&nbsp;</span></span><span style="font-size: 16px;"><span style="font-family: &quot;Trebuchet MS&quot;, Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></span></p>
<h3 style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;"><span style="font-size: 16px;"><span style="font-family: &quot;Trebuchet MS&quot;, Helvetica, sans-serif;">Special Offers</span></span></h3>
<ul style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;">
  <li><span style="font-size: 16px;"><span style="font-family: &quot;Trebuchet MS&quot;, Helvetica, sans-serif;">Early Bird offer for limited seats only: 9%</span></span></li>
  <li><span style="font-size: 16px;"><span style="font-family: &quot;Trebuchet MS&quot;, Helvetica, sans-serif;">Alumni referral offer: 12% discount
        <br>
      </span></span></li>
  <li><span style="font-size: 16px;"><span style="font-family: &quot;Trebuchet MS&quot;, Helvetica, sans-serif;">Business and HR head offer: 12% discount</span></span></li>
</ul>
<h4 style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;"><span style="font-size: 16px;"><span style="font-family: &quot;Trebuchet MS&quot;, Helvetica, sans-serif;">
      <br>For more details on these offers and program pricing&nbsp;please&nbsp;
      <a href="https://www.ishaeducation.org/human-is-not-a-resource/pricing">click here</a>.
    </span></span></h4>
<h3 style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;"><span style="font-size: 16px;"><span style="font-family: &quot;Trebuchet MS&quot;, Helvetica, sans-serif;">&nbsp;
      <br>
      <a href="https://www.ishaeducation.org/human-is-not-a-resource/preregistration/#utm_source=crm">Register now</a>
    </span></span></h3>
<p style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;"><span style="font-size: 16px;"><span style="font-family: &quot;Trebuchet MS&quot;, Helvetica, sans-serif;">&nbsp;
      <br>We look forward to you joining us! Should you have further questions, please do not hesitate to call us at&nbsp;+91 83000 84888&nbsp;or write to us at&nbsp;leadership@ishainsight.org.
    </span></span></p>
<p style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;"><span style="font-size: 16px;"><span style="font-family: &quot;Trebuchet MS&quot;, Helvetica, sans-serif;">&nbsp;
      <br>Warm Regards,
    </span></span></p>
<p style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;"><span style="font-size: 16px;"><span style="font-family: &quot;Trebuchet MS&quot;, Helvetica, sans-serif;">Isha Leadership Academy Team</span></span></p>
<p style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;"><span style="font-size: 16px;"><span style="font-family: &quot;Trebuchet MS&quot;, Helvetica, sans-serif;">+91 83000 84888</span></span></p>
<p style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;"><span style="font-size: 16px;"><span style="font-family: &quot;Trebuchet MS&quot;, Helvetica, sans-serif;">www.ishaHRconclave.org</span></span></p>
